{% extends "public/templates/public_template.html" %}
{% block title %}Login & Signup{% endblock %}
{% block main %}

<div class="box">
    <!-- <form action="/data" method="POST"> -->
    <!-- <form>
        <input type="radio" name="login" id="login">
        <input type="radio" name="login" id="sign-up" checked> -->
    <!-- <div class="labels">
            <label for='login' id="log">
                <h1>LOGIN</h1>
            </label>
            <label for='sign-up' id="sign">
                <h1>SIGN-UP</h1>
            </label>

        </div> -->

    <div class=""><input type="radio" name="login" id="login" {{ login }}>
        <input type="radio" name="login" id="sign-up" {{signup}}>
        <div class="labels">
            <label for='login' id="log">
                <h1>LOGIN</h1>
            </label>
            <label for='sign-up' id="sign">
                <h1>SIGN-UP</h1>
            </label>

        </div>

        <form action="/sign-up" method="POST" class="sign-up">

            <div class="take">
                <input type="text" name="Name" title="" required>
                <label class="Name">Name</label>

            </div><br>
            <div class="take">
                <input type="text" name="UserName" title="" required>
                <label class="Username">Username</label>

            </div><br>
            <div class="take">
                <input type="email" name="Email" title="" required pattern=".+@gmail\.com">
                <label class="Email">Email(@gmail.com)</label>

            </div><br>
            <div class="take">
                <input type="password" name="Password" title="" id="password1" required>
                <label class="Password">Password</label>

            </div>
            <!-- <input onclick="show1()" type="checkbox" class="btn x" style="display:inline" id="show_h"><label for="show_h" class="x_check">show password</label>  -->
            <button onclick="show1('password1')" id="showhide1" class="x" type="button">show password</button>

            <br>
            <div class="take1">
                <input type="checkbox" title="" required>
                <label class="terms">I agree to <a href="#" style="color:red">terms of services</a></label>
            </div><br>
            <div class="submit">
                <input type="submit" value="Sign-up">
                <input type="reset" value="Reset">
            </div>

        </form>

        <form action="/login" method="POST" class="login" style="margin-top:30px">



            <div class="take">
                <input type="text" name="UserName" required title="">
                <label>Username</label>
            </div>
            <br>
            <div class="take">
                <input type="password" name="Password" id="password" title="" required>
                <!-- <button onclick="show()" type="button" class="btn"id="show">show</button> -->

                <label>Password</label>
            </div>
            <!-- <div class="show_p"><input onclick="show()" type="checkbox" class="btn x" id="show2"><label for="show2" class="x_check">show password</label> </div> -->
            <button onclick="show('password')" id="showhide" class="x" type="button">show password</button>
            <br>

            <div class="submit">
                <!--input type="checkbox" name="" ></div><br><p>👆️click to receive emails from our site</p><br><br-->

                <input type="Submit" value="Login">
                <input type="reset" value="Reset">
            </div>



        </form>
    </div>
    <!-- {% if feedback %}
    <div class="feedback bg-danger p-3" id="feedback">
        <span>{{ feedback }}</span>
        <button onclick="Close('feedback')" type="button" class="kill" id="kill">&times;</button>
    </div>

    {% endif %} -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

</div>

{% endblock %}
{% block script %}
<script>
    function close(tar) {
        var tag = document.getElementById(tar);
        console.log("hello");
        // var kill = document.getElementById("kill");
        // tag.style.display = "none";
    }
</script>
{% endblock %}