<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        This is the dashboard page
    </h1>
</body>
</html> -->


{% extends "admin/templates/admin_template.html" %}

{% block title%}Admin Dashboard{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
      <div class="col">
        <h1>Admin Dashboard</h1>
      </div>
    </div>
  </div>


{% endblock %}
