body {
    background: url(/static/img/4.jpg);
    background-size: auto;
    height:900px;
}
.sign-up,
.login {
    position: absolute;
    top:700px;
    /* animation: typingAnim 5s steps(50); */

}
h1{
    font-family: "Gluten",cursive;
}

.box {
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 650px;
    opacity: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}

.box .take {
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
    letter-spacing: 0.9px;
    margin-right: 0px;

}

.box .take1 {
    position: relative;
    margin-top: 15px;
    letter-spacing: 0.7px;
    margin-left: 25px;
    margin-right: 0px;
}

.box .take input {
    width: 360px;
    padding: 10px 0px;
    color: yellow;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid darkblue;

}

.box .take label {
    position: absolute;
    color: orange;
    font-weight: bold;
    top: 0px;
    left: 0px;
    padding: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.box .take input:focus~label,
.box .take input:valid~label {
    top: -20px;
    left: -10px;
    font-size: 12px;
    color: aqua;
    font-weight: bold;
    /* animation: typingAnim 5s steps(50); */

}

.box .submit input {
    position: center;
    margin: 15px 50px;
    height: 50px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    letter-spacing: 2px;
    color: aqua;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    background: blue;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

div input[id="login"],
div input[id="sign-up"] {
    opacity: 0;
    /* animation: typingAnim 5s steps(50); */


}

div input[id="login"] {
    left: 5px;
}

div input[id="sign-up"] {
    left: 20px;
}

.labels {

    display: flex;
    justify-content: space-around;
    margin-top: -17px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
}

#sign,
#log {
    width: 200px;
    cursor: pointer;
    display: inline-block;
    background-color: lavenderblush;
    color: black;
    text-align: center;
    padding:10px;
    border-radius: 30px;
    /* animation: typingAnim 5s steps(50); */

}

div input[id="login"]:checked~.labels #sign,
div input[id="sign-up"]:checked~.labels #log {
    background-color: rgba(0, 0, 0, .2);
    opacity: 0.4;
    /* overflow: hidden; */
    transition: .2s;
    /* animation: typingAnim 5s steps(50); */


}

div input[id="login"]:checked~form.login,
div input[id="sign-up"]:checked~form.sign-up {
    z-index: 10000000;
    /* overflow: hidden; */
    top: 150px;
    transition: .5s;
    /* animation: typingAnim 5s steps(50); */
}
.x{
    /* z-index:1; */
    /* opacity:100%; */
    border:none;
    opacity:0%;
}